<?php
if ($_ENV["REDIRECT_DBENTRY_HOST"]=='sdesimeur.com') {
return array(
    'connMySQL' => array(
        'hostname' => "",
        'database' => "",
        'username' => "",
        'password' => "",
    ),
);
} else {
return array(
    'connMySQL' => array(
        'hostname' => "",
        'database' => "",
        'username' => "",
        'password' => "",
    ),
);
}
