<?php
return array(
    'connSmtp' => array(
        'isSMTP' => true,
        'Host' => '',
        'SMTPAuth' => true,
        'Username' => '',
        'Password' => '';
        'SMTPSecure' => 'tls',
        'Port' => 587,
    ),
);
?>
